.list-wrapper {
    margin-top: 100px;
}

.group-btn {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .btn {
        border-radius: 0 !important;
        font-size: 14px !important;
    }
}

.table-header {
    display: flex;
    justify-content: space-between;
    .select-wrapper {
        min-width: 150px;
        .select-custom {
            border: 1px solid #ced4da !important;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 14px;
        }
    }
    .add-btn {
        display: flex;
        justify-content: flex-end;
        .btn {
            border-radius: 0;
            font-size: 14px;
        }
    }
}

.deleteModal {
    display: flex !important;
    justify-content: center;
    align-items: center;
    
    .modal-dialog {
        width: 350px;
    }
    
    .modal-content {
        border-radius: 0;
    }
    .modal-header {
        padding: 0;
        padding-top: 3rem;
        border: none;
        display: flex;
        justify-content: center;
        .modal-title {
            color: #dc3545;
            font-weight: 600;
        }
    }

    .modal-body {
        padding: 1rem 3.75rem;
        padding-bottom: 3rem;
        font-size: 0.85rem;
        text-align: center;
    }

    .modal-footer {
        padding: 0;
        border: none;
        display: flex;
        .btn {
            margin: 0;
            border-radius: 0;
            width: 50%;
            height: 48px;
        }
    }
}

